@font-face {
	font-family: 'Starfocus title';
	src: url('fonts/Elianto-Regular.otf') format('opentype');
}

@font-face {
	font-family: 'Starfocus bold';
	src: url('fonts/Stellar-Bold.otf') format('opentype');
}

@font-face {
	font-family: 'Starfocus light';
	src: url('fonts/Stellar-light.otf') format('opentype');
}

* {
	text-align: center;
	font-family: 'Starfocus light';
}

body {
	background: rgb(2,0,36);
	background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(11,17,84,1) 100%);
	color: rgba(255, 255, 255, 0.829);
}

main {
	max-width: 900px;
	margin: auto;
}

.hero {
	width: 900px;
	height: 506px;
}

#appname {
	font-size: 4.17rem;
	font-family: 'Starfocus title';
}

#tagline {
	font-size: 1.61rem;
	margin: 1rem;
}

button {
	padding: 1rem;
	border-radius: 0.5rem;
	font-size: 1.61rem;
}

h1 {
	font-size: 4.17rem;
	font-family: 'Starfocus title';
	text-transform: uppercase;
	margin: 1.61rem 1rem 1rem 1rem;
}

h2 {
	font-size: 2.59rem;
}

.feature {
	clear: both;
}

#avoid-earthly-distractions {
	text-align: left;
}

#avoid-earthly-distractions h2 {
	text-align: left;
}

#avoid-earthly-distractions img {
	float: left;
	width: 200px;
}

#stay-focused {
	text-align: right;
}

#stay-focused h2 {
	text-align: right;
}

#stay-focused img {
	float: right;
	width: 200px;
}

#aim-for-the-stars {
	text-align: left;
}

#aim-for-the-stars h2 {
	text-align: left;
}

#aim-for-the-stars img {
	float: left;
	width: 200px;
}

footer {
	clear: both;
}