@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

html,
body {
	margin: 0;
	padding: 0;
}

/* TODO: https://www.freepik.com/free-vector/planets-outer-space-with-satellites-meteors-illustration_6690897.htm#query=space%20background&position=30&from_view=keyword */
body {
	font-family: 'Inter';
	height: 100%;
}

body::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.supernova {
	background-image: url('/supernova - horizontal.png');
	/* Uncommenting this one keeps the background at its natural size so multiple elements can share the same background positioning area. */
	/* background-attachment: fixed; */
	background-repeat: no-repeat;
	background-position: center;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: cover;
}

.off-screen {
	opacity: 0;
	transform: translateY(-100vh);
}

.expanded {
	opacity: 0;
	transform: scale(2);
}

.trajectory {
	mask-image: repeating-linear-gradient(
		to bottom,
		transparent 0 4px,
		#fff 4px 8px
	);
}

/* section {
	background: radial-gradient(circle, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
} */

.dim {
	background: radial-gradient(
		circle farthest-corner,
		rgba(0, 0, 0, 1),
		rgba(0, 0, 0, 0)
	);
}

.glass {
	--tw-bg-opacity: 1;
	background-color: rgb(6 34 77 / var(--tw-bg-opacity));
	--tw-bg-opacity: 0.6;
	--tw-backdrop-blur: blur(8px);
	backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
		var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
		var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
		var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
		var(--tw-backdrop-sepia);
}

.parallax-container {
	overflow: scroll;
	overflow-x: clip;
	perspective: 1px;
}

.plane-0 {
	transform-origin: center;
	transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, -1)
		translateZ(-2px) translateY(-5rem);

	/* https://stackoverflow.com/questions/51202143/gap-created-by-scrollbar-in-css-parallax-scrolling-sites */
	/* position: relative;
	right: -17px; */
	/* margin-left: calc(100% - 100vw); */
	margin-right: calc(100% - 100vw);
	/* padding-left: calc(100vw - 100%); */
	padding-right: calc(100vw - 100%);
}

.plane-negative-1 {
	transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, -1)
		translateZ(-10px) scale(9);
}
